html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: black;
}

img{
  max-width: 100%;
}
/* */

.overskrift{

}
h1{
  text-align: center;
}
input {
    text-align: center;
    height: 40px;
    width: 200px;
    font-size: 35px;
    margin: 20px;
}

.grid-container-meny {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #2196F3;
  padding: 10px;
}
.menyItem{
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  border: 3px solid #03045e;
  border-radius: 12px;
  display: inline-block;
  vertical-align: middle;
}
.center {
  line-height: 200px;
  height: 200px;
  border: 3px solid green;
  text-align: center;
}

.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}


.grid-container {
  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) ;
  background-color: #2196F3;
  padding: 10px;
}
.header1{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 20px;
}

.item1 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item2 {
  background-color: #F7CAE1;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding: 20px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.item3 {
  background-color: #BDF7B7;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding: 20px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 4;
}
.item4 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding: 20px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}



.item5 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 3;

}
.item6 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding: 20px;
  grid-column-start: 3;
  grid-column-end: 4;
}
