html {
  background: url("https://site-cdn.givemesport.com/images/21/05/14/cbe7aca00f38c508c3eddb0c8237a042/960.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#startButton{
  width: 200px;
    height: 100px;
    background: #f3f0f1;
    position: relative;
    background: #f3f0f1;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
#gangeStykke{
  }
.left{
  float: left;
  text-align: center;
}


img{
  max-width: 100%;
}
/* */
#svarKnapp{
  width: 200px;
    height: 80px;
    background: #f3f0f1;
    position: relative;
    background: #f3f0f1;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

}
.overskrift{

}
h1{
  text-align: center;
}
input {
    text-align: center;
    height: 40px;
    width: 200px;
    font-size: 35px;
    margin: 20px;
}
.center{
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) ;
  background-color:rgba(33,150,243,0.6);
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
h2{
  font-size: 32px;
  text-align: center;
}
h3{
  font-size: 22px;
  text-align: center;
}
.newsText {
  font-size: 18px;
}
.playerStats{
  font-size: 18px;
  font-family: Verdana, sans-serif;
}
.playerPic{
  width: 250px;
  height: auto;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
}
.item1 {
  background-color:rgba(256,256,256,0.7);

  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item2 {
  background-color:rgba(256,256,256,0.7);

  font-size: 30px;
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.meny {
  background-color:rgba(256,256,256,0.7);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}
.item4 {
  background-color:rgba(256,256,256,0.7);

  font-size: 30px;
  padding: 20px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}



.item5 {
  background-color:rgba(256,256,256,0.6);

  font-size: 30px;
  padding: 20px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 3/5000;

}
.item6 {
  background-color: #FEE9E1;

  font-size: 30px;
  padding: 20px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

position: -webkit-sticky;
position: sticky;
top: 0;

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 150px;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #004d97;
}

.button1:hover {
  background-color: #004d97;
  color: #fff223;
}
