body{
  background-color: #ccddff;
}
#startButton{
  width: 200px;
    height: 100px;
    background: #f3f0f1;
    position: relative;
    background: #f3f0f1;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
#gangeStykke{
  }
.left{
  float: left;
  text-align: center;
}


img{
  max-width: 100%;
}
/* */
#svarKnapp{
  width: 200px;
    height: 80px;
    background: #f3f0f1;
    position: relative;
    background: #f3f0f1;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

}
.overskrift{

}
h1{
  text-align: center;
}
input {
    text-align: center;
    height: 40px;
    width: 200px;
    font-size: 35px;
    margin: 20px;
}
.center{
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) ;
  background-color: #2196F3;
  padding: 10px;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 20px;
}

.item1 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item2 {
  background-color: #F7CAE1;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding: 20px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.item3 {
  background-color: #BDF7B7;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding: 20px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 4;
}
.item4 {
    background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding: 20px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}



.item5 {
  background-color: #AE849D;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding: 20px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;

}
.item6 {
  background-color: #FEE9E1;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding: 20px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}
